/*
    ESTILIZAÇÃO GERAL
 */
input, .texto-url, .custab, .panel-title, #btn-alterar-senha, .btn{
font-size: 20px !important;

padding: 10px auto !important;
}

* {
    border-radius: 0 !important;
}

h1 {
	text-align: center;
}
    /*
        Pegar fonte nos ícones sem destorcer a box
     */

input, .texto-url, .custab, #btn-alterar-senha{
height: 45px !important;    
}

#input-alterar-senha{
    display: none;
}
/*
    MENU LATERAL
 */
.custab:hover, .centered-form .panel:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

/*
    REGISTRAR SITE
 */
.centered-form .panel, .custab{
    border: 1px solid #ccc;
    margin: 5% 0;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    transition: 0.5s;
}
div.col-xs-3{
    min-width: 115px;
}
@media(max-width: 530px){
    input, .custab{
        font-size: 16px !important;
    }
    .texto-url{
        display: none;
    }
}
