* {
    white-space: normal;
    text-decoration:none !important;
}


/* HOME */

/* Customize container */
@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}
.btn-home {
    height: 15rem;
    font-size: 30px;
}

/* VER ANIMAIS */
.gallery_product {
    margin-bottom: 30px;
}

.img-responsive {
    height: 400px;
    min-width: 200px;
    max-width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

@media (max-width: 767px){
    .img-responsive {
        margin: 0 auto;
    }

}



/* ANIMAL */

.list-group-item-default>span{
    text-transform: capitalize;
}
.img-rounded{
    /*max-width: 100%;*/
    width: 100%;
    /*max-height:500px;*/
}
li, .panel-heading, .list-group-item{
    font-size: 21px;
    line-height: 1.3;   
}
li, .list-group-item, .bd-title {
    color: #333 !important;
}

/* AJUDAR */
.bd-title{
    font-size:3rem;
}

/* HEADER */
.max-w{
    max-width:46rem;
}
.header>.row>a>img{
    max-height:200px;
}

/* FOOTER */
.footer {
    background: #EDEFF1;
    position: relative;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.row-footer{
    max-width:1300px;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}
.footer a {
    color: #78828D;
    font-size: 20px;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
}
.logo-unipampa{
    max-width:100%;
}
.btn-portal{
    max-width:300px;
    height:100px;
    margin: 0 auto;
}
.table{
    max-width:900px;
}
#logo{
    max-width:100%;
}
